body {
    margin: auto;
    max-width: 80em;
    font-family: Helvetica;
}

#navbar {
    display: flex;
    justify-content: space-between;
}

#services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em 1em;

}

.service {
    border-style: solid;
    border-width: 1px;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 40em;
    column-gap: 1em;
}

.day {
    border-style: solid;
    border-width: 1px;
}

.slot {
    margin: 5px;
    border-style: solid;
    border-width: 1px;
}
