body {
    margin: auto;
    max-width: 80em;
}

#navbar {
    display: flex;
    justify-content: space-between;
}

#calendar {
    display: grid;
}

#products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em 1em;

}

.product {
    border-style: solid;
    border-width: 1px;
}
