<!doctype html>
{% extends "layout.html" %}
{% block title %}Booking {{ service.name }}{% endblock %}
{% block content %}
<div id="content">
    <div>
        <p>Booking: {{ service.name }}.</p>
        <div
            style="align-items: center;"
            >
            <p>{{ service.description }}</p>
            <p>{{ service.price }}€</p>
        </div>
        <hr>
    </div>
    {% include "weeknav.html" %}
    <div id="calendar">
        {% for day in dayslots %}
        <div class="day">
            <div>
                {{ day.weekday }}
                <hr>
            </div>
            <div class="slots">
                {% if day.open %}
                {% for time in day.slots %}
                <div class="slot">
                    <div>
                    {{ time[0].strftime("%H:%M") }} - {{ time[1].strftime("%H:%M") }}
                    </div>
                    <div>
                    <form method="POST">
                        <input type="hidden" value="{{session.csrf_token}}" name="csrf_token">
                        <input type="hidden" value="0" name="stage">
                        <input type="hidden" value="{{ time[0] }};{{ time[1] }}" name="slot">
                        <input type="submit" value="Book">
                    </form>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <p>Booking unavailable</p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
