<!doctype html>
{% extends "layout.html" %}
{% block title %}Booking {{ product.name }}{% endblock %}
{% block content %}
<div>
    <p>Booking: {{ product.name }}.</p>
    <p>{{ product.description }}</p>
</div>
<hr>
<div id="week_nav" 
    style="display:flex; justify-content:space-between;"
    >
    <p>prev week</p>
    <p>Week: {{week}}</p>
    <p>next week</p>
</div>
<div id=calendar>
    {% for day in dayslots %}
    <div class="day">
        {{ day.weekday }}
        <hr>
        <div
            >
            {% if day.open %}
            {% for time in day.slots %}
            <div class="slot">
            <p>{{ time[0].strftime("%H:%M") }} - {{ time[1].strftime("%H:%M") }}</p>
            </div>
            {% endfor %}
            {% else %}
            <p>Closed for the day</p>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
