<!doctype html>
{% extends "layout.html" %}
{% block title %}Calendar{% endblock %}
{% block content %}
<div id="content">
    <div>
    </div>
    <div id="week_nav" 
        style="display:flex; justify-content:space-between;"
        >
        <p>prev week</p>
        <p>Week: {{week}}</p>
        <p>next week</p>
    </div>
    <div id="calendar">
        {% for day in days %}
        <div class="day">
            <div>
                {{ day.weekday }}
                <hr>
            </div>
            <div class="slots">
                {% for booking in day.slots %}
                <div class="slot">
                    <div>{{ booking.name }}</div>
                    <div>{{ booking.service }}</div>
                    <div>{{ booking.time.strftime("%H:%M") }}</div>
                    <div>{{ booking.dur }}</div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
