<!doctype html>
{% extends "layout.html" %}
{% block title %}Booking {{ service.name }}{% endblock %}
{% block content %}
<div>
    <p>Booking: {{ service.name }}.</p>
    <div
        style="align-items: center;"
        >
        <p>{{ service.description }}</p>
        <p>{{ service.price }}€</p>
    </div>
</div>
<hr>
<div>
    <form action="book" method="POST">
        <textarea id="msg" name="msg" rows="8" cols="50" placeholder="Add any wishes and details here"></textarea><br>
        <input type="hidden" value="{{ slot }}" name="slot">
        <input type="hidden" value="1" name="stage">
        <input type="submit" value="Make booking"> <a href="/">Cancel</a>
    </form>
</div>
{% endblock %}
