<!doctype html>
<link rel="stylesheet" href="{{url_for("static", filename="layout.css")}}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
    <title>{% block title %}{% endblock %}</title>
    {% if session.admin==True %}
    {% include "admintools.html" %}
    {% endif %}
    <div id="container">
        <h1>Late's bike service</h1>
        <div id="navbar">
            <div id="links">
                {% include "links.html" %}
            </div>
            {% if request.path!="/register/" %}{% include "login.html" %}{% endif %}
        </div>
        {% block content %}{% endblock %}
    </div>
</body>
