{% extends "layout.html" %}
{% block title %}Register new user{% endblock %}
{% block content %}
<h2>Register a new user account</h2>
<form action="/register" method="POST">
    <label for="name">Your name:</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="username">Choose a username:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="pwd">Choose a password:</label><br>
    <input type="password" id="pwd" name="pwd"><br>
    <input type="submit" value="Register"> <a href="/">Cancel</a>
</form>
{% endblock %}
