<!doctype html>
{% extends "layout.html" %}
{% block title %}Services{% endblock %}
{% block content %}
<div id="services">
    {% for service in services %}
        <div class="service">
            {{ service.name }}<br><br>
            {{ service.description }}<br><br>
            {{ service.price }}€
            {% if not session.username %}
            <p>Log in to book a service</p><br>
            {% else %}
            <form action="services/{{ service.service_id }}/book" method="GET">
                <input type="submit" value="Book service">
            </form>
            {% endif %}
        </div>
    {% endfor %}
</div>
{% endblock %}
