<!doctype html>
{% extends "layout.html" %}
{% block title %}{{ service.name }}{% endblock %}
{% block content %}
<div class="content">
    <div class="service">
        <div class="service_info">
            <h2>{{ service.name }}</h2>
            <p>{{ service.description }}</p>
            <p>{{ service.price }}€</p>
            <p>{{ service.dur.seconds // 60 }} min</p>
            {% if not session.username %}
            <p>Log in to book a service</p><br>
            {% else %}
            <form action="book" method="GET">
                <input type="submit" value="Book service">
            </form>
            {% endif %}
        </div>
        {% if session.admin == True %}
        <div class="service_tools">
            <a href="edit">Edit</a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
